h1 {
    font-family: "Papyrus", "Monaco", Arial;
    font-weight: bold;
    font-size: 40px;
    color: rgb(172, 81, 38)
}

img {
    height: auto;
  width: 300px;
}

h3 {
    font-family: "Papyrus", "Monaco", Arial;
    font-size: 30px;
    color: rgb(172, 81, 38)
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    font-family: Arial, Helvetica, sans-serif;
}